html {
  scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	color: #302d26;
	font-family: sans-serif;
	font-size: 12px;
	line-height: 1.4em; 
	background-color: #a09c93;
	background-image: url(img/body.jpg);
	background-repeat: repeat-y;
	background-position: center
}

#wrapper {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}

#aside {
	position: fixed;
	width: 240px;
	text-align: right;
}

#main {
	width: 650px;
	padding: 60px 30px 60px 40px;
	float: right;
}

a.arriba { 
	clear: both; 
	float: right; 
	display:block; 
	margin-top: 40px; 
	padding: 0 15px 10px; 
	font-size: 10px; 
	color: #000; 
	font-weight:700;
	background: url(img/arriba.png) no-repeat bottom center }

p { 
	margin: 0 0 10px 0; 
	padding: 0; 
}

img { 
	border: none; 
}

h1 { 
	color: #000000; 
	font-weight: normal; 
	font-size: 36px; 
	margin: 0 0 30px; 
	padding: 5px 0  
}

#titulo_general { 
	text-align: right; 
	margin: 80px 0 40px; 
	width: 220px; 
	height: 60px; 
	padding: 20px 10px; 
	background: url(img/titulo.jpg) no-repeat;
}

#titulo_general a { 
	font-size: 24px; 
	font-family: Georgia, "Times New Roman", Times, serif; 
	font-weight: 700; 
	color: #fff 
}


#menu { 
	width: 240px; 
	margin-bottom: 60px; 
}

#menu ul { 
	margin: 0; 
	padding: 0; 
	list-style: none 
}

#menu ul li { 
	margin: 0; 
	padding: 0; 
}

#menu ul li a { 
	display: block; 
	float: right; 
	position: relative;  
	margin-bottom: 10px; 
	letter-spacing: 3px; 
	color: #432329; 
	text-shadow: 1px 1px 1px #a46d77; 
	padding: 0 60px 0 30px; 
	height: 39px; 
	line-height: 39px; 
	background:url(img/pestaña.png) left no-repeat 
}

.cajaprincip { 
	min-height: 600px; 
	padding: 30px 0; 
	margin-bottom: 30px; 
	background: url(img/divisor.png) repeat-x bottom 
}

.img_izquierda { 
	float: left; 
	margin: 3px 30px 5px 0 
}

.img_derecha { 
	float: right; 
	margin: 3px 0 5px 30px 
} 
.img_marco { 
	border: 1px solid #827863; 
	background: #a8a08e; 
	padding: 9px; 
	margin-bottom: 10px  }

